body {
     background-color: #1d1d1d;
}

.banner {
    background: url(https://image.ibb.co/hyqSdF/banner_ver2.png);
    position: relative;
    width: 100%;
}

.banner h1 {
    padding-top: 10%;
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
}

.gamewindow {
    width: 595px;
    height: 412px;
    margin: 0 auto;

}
/*
.sceneimage {
    background: url(http://irritablekitten.com/img/ccnightlq.jpg);
    background-size: 600px 200px;
    height: 200px;
    width: 600px;
    margin-top: 5%;
}
*/
.textbox.ui-dialog {
    display: none;
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

.inventory {
    border: 2px solid;
    height: 400px;
    width: 190px;
    float: right;
    margin-left: 15%;
    text-align: center;
    background-color: #fef0e7;
}

.btn {
    margin: 0.5em;
    opacity: 0.9;
    width: 160px;
    color: black;
    border: 1px solid  black;
}

.status {
    border: 2px solid;
    height: 54px;
    width: 190px;
    float: right;
    clear: right;
    margin-left: 15%;
    padding-top: 10px;
    text-align: center;
    background-color: #fef0e7;
}

.description {
    border: 2px solid;
    height: 250px;
    width: 400px;
    margin-right: 15%;
    background-color: #fef0e7;
}

.log {
    border: 2px solid;
    height: 50px;
    width: 400px;
    margin-right: 15%;
    background-color: #fef0e7;
}

.choices {
    border: 2px solid;
    height: 150px;
    width: 400px;
    margin-right: 15%;
    padding-top: 10px;
    background-color: #fef0e7;
}

.c-btn {
    margin: 0.5em;
    opacity: 0.9;
    width: 10em;
    border: 1px solid black;
}

.btn:hover, .c-btn:hover {
    background-color: #85ff9f;
}

.hidebtn {
    display: none;
}